@use '../abstracts/colos' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/keyframes' as *;

@mixin galerry {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.568);
    z-index: 100;
    transition: .3s ease;
    @include d-f(center, center);
    .btn {
        font-size: 50px;
        color: red;
        position: absolute;
        cursor: pointer;
        border-radius: 50%;
        transition: .2s linear;
        @include d-f(center, center);
        &:hover {
            transform: translateY(-4px);
        }
    }
    .btn.next {
        right: 10%;
    }
    .btn.prev {
        left: 10%;
    }
    .galerry_container {
        width: 1000px;
        .galerry_img {
            width: 100%;
            animation: fakeInGalerry_img .3s ease;
        }
    }
}